.link{
    padding-left: 1rem;
}

.bg-dark{
    background-color: rgb(44,62,80) !important;
}

.container-bg{
     background-color: rgb(26,188,156); 
}

/* first pic css/media */
.avataaars-img{
    width: 20% !important;
}
@media(min-width:320px) and (max-width:426px) {
    .avataaars-img{
        width: 80% !important;
    }
}
@media(min-width:768px) and (max-width:1024px) {
    .avataaars-img{
        width: 35% !important;
    }
}

 /*icon section1 */
 .line-white{
    width: 8%;
    height: 5px;
    margin: 30px 20px;
    background-color: white;
 }
 /* icon section2 */
 .line-black{
    width: 8%;
    height: 5px;
    margin: 30px 20px;
    background-color: black;
 }
 
 @media(max-width: 768px) {
    .line-1, .line-2{
        width: 30%;
        height: 5px;
        margin: 30px 20px;
        /* background-color: white; */
    }
 } 
 @media(min-width: 768px) and (max-width:1024px) {
    .line-1, .line-2{
        width: 15%;
        height: 5px;
        margin: 30px 20px;
        /* background-color: white; */
    }
 } 
/* about section */
.about{
    color: white;
    background-color: rgb(26,188,156); 
}

.hover-1:hover{
    color: black !important;
}

.border-1{
    border-bottom-color: rgb(209, 209, 209);
    box-shadow: none !important;
    border:none;
    border-bottom: 1px solid;
}

.submit-button{
    background-color: rgb(26,188,156);
    border: none;
    border-radius: 10px;
}
.footer{
    background-color: rgb(54, 67, 87);
}
.span-link{
    color: rgb(26,188,156);;
}
